elasticsearch:
  host: ${ELASTIC_SEARCH_HOST:localhost}
  port: ${ELASTIC_SEARCH_PORT:9200}
  scheme: ${ELASTIC_SEARCH_SCHEME:http}
  enabled: ${ELASTIC_SEARCH_ENABLED:false}
  indexShards: ${ELASTIC_SEARCH_INDEX_SHARDS:2}
  indexShardsReplicas: ${ELASTIC_SEARCH_INDEX_SHARDS_REPLICAS:0}
  failImportIfError: ${ELASTIC_SEARCH_FAIL_ON_IMPORT:false}
  dynamic: ${ELASTIC_SEARCH_DYNAMIC:true}
  elasticMappings:
    disabled: '{"enabled": false}'
    defaultText: '{"type": "text", "fields": { "keyword": { "type": "keyword", "ignore_above": 256, "normalizer": "lowercase_normalizer"}}}'
    defaultKeyword: '{"type" : "keyword", "normalizer": "lowercase_normalizer"}'
    defaultKeywordWithoutNormalizer: '{"type" : "keyword"}'
    defaultDate: '{"type" : "date", "ignore_malformed": true}'
    defaultBoolean: '{"type" : "boolean"}'
    defaultLong: '{"type" : "long"}'
    defaultDouble: '{"type" : "double"}'
    ccdPhoneUK: '{"type" : "text", "analyzer": "standard", "search_analyzer": "phone_number_analyzer"}'
    ccdDocument: '{
                    "properties":{
                       "document_binary_url":{
                          "type":"text",
                          "index":false
                       },
                       "document_filename":{
                          "type":"text"
                       },
                       "document_url":{
                          "type":"text",
                          "index":false
                       }
                    }
                 }'
    alias: '{"type": "alias", "path": "data.<caseFieldPathPlaceHolder>"}'
    aliasTextSort: '{"type": "alias", "path": "data.<caseFieldPathPlaceHolder>.keyword"}'
    ccdDynamicList: '{
                        "properties": {
                            "value": {
                                "properties": {
                                    "code": {
                                      "type": "text" , "fields": { "keyword": { "type": "keyword", "ignore_above": 256, "normalizer": "lowercase_normalizer"}}
                                    },
                                    "label": {
                                      "type": "text" , "fields": { "keyword": { "type": "keyword", "ignore_above": 256, "normalizer": "lowercase_normalizer"}}
                                    }
                                }
                            },
                                "list_items": {
                                  "type": "object",
                                  "enabled": false
                            }
                        }
                    }'
  ccdIgnoredTypes:
    - Label
    - CasePaymentHistoryViewer
    - CaseHistoryViewer
  # typeMappings configured as 'defaultText' need to be declared in the data-store elasticsearch.type-mappings.defaultText property
  typeMappings:
    Text: ${elasticsearch.elasticMappings.defaultText}
    TextArea: ${elasticsearch.elasticMappings.defaultText}
    Number: ${elasticsearch.elasticMappings.defaultDouble}
    Date: ${elasticsearch.elasticMappings.defaultDate}
    Time: ${elasticsearch.elasticMappings.defaultDate}
    DateTime: ${elasticsearch.elasticMappings.defaultDate}
    PhoneUK: ${elasticsearch.elasticMappings.ccdPhoneUK}
    MoneyGBP: ${elasticsearch.elasticMappings.defaultDouble}
    YesOrNo: ${elasticsearch.elasticMappings.defaultKeyword}
    Email: ${elasticsearch.elasticMappings.defaultKeyword}
    Postcode: ${elasticsearch.elasticMappings.defaultKeyword}
    Document: ${elasticsearch.elasticMappings.ccdDocument}
    FixedList: ${elasticsearch.elasticMappings.defaultText}
    FixedListEdit: ${elasticsearch.elasticMappings.defaultText}
    MultiSelectList: ${elasticsearch.elasticMappings.defaultText}
    FixedRadioList: ${elasticsearch.elasticMappings.defaultText}
    DynamicList: ${elasticsearch.elasticMappings.ccdDynamicList}
  casesIndexNameFormat: ${ELASTIC_SEARCH_CASE_INDEX_NAME_FORMAT:%s_cases}
  casesIndexMappingFieldsLimit: ${ELASTIC_SEARCH_CASE_INDEX_MAPPING_FIELDS_LIMIT:8000}
  casesIndexType: _doc
  # casePredefinedMappings configured as 'defaultText' need to be declared in the data-store elasticsearch.case-predefined-mappings.defaultText property
  casePredefinedMappings:
    reference: ${elasticsearch.elasticMappings.defaultText}
    jurisdiction: ${elasticsearch.elasticMappings.defaultText}
    id: ${elasticsearch.elasticMappings.defaultLong}
    state: ${elasticsearch.elasticMappings.defaultText}
    created_date: ${elasticsearch.elasticMappings.defaultDate}
    last_modified: ${elasticsearch.elasticMappings.defaultDate}
    security_classification: ${elasticsearch.elasticMappings.defaultKeyword}
    case_type_id: ${elasticsearch.elasticMappings.defaultText}
    last_state_modified_date: ${elasticsearch.elasticMappings.defaultDate}
#    '[@timestamp]' brackets added for getting along with spring boot 2
    '[@timestamp]': ${elasticsearch.elasticMappings.disabled}
    '[@version]': ${elasticsearch.elasticMappings.disabled}
    index_id: ${elasticsearch.elasticMappings.disabled}
  securityClassificationMapping: ${elasticsearch.elasticMappings.defaultKeywordWithoutNormalizer}
