description: Helm chart for the HMCTS CCD Definition Store
name: ccd-definition-store-api
apiVersion: v2
home: https://github.com/hmcts/ccd-definition-store-api
version: 1.6.15
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: java
    version: 5.0.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
