java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devmemoryRequests: 2048Mi
  devcpuRequests: 2000m
  devmemoryLimits: 4096Mi
  devcpuLimits: 4000m
  keyVaults:
    ccd:
      secrets:
        - ccd-definition-s2s-secret
  environment:
    DEFINITION_STORE_DB_HOST: "{{ .Release.Name }}-postgresql"
    DEFINITION_STORE_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    DEFINITION_STORE_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
    DEFINITION_STORE_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    DEFINITION_STORE_DB_OPTIONS: ""
    DEFINITION_STORE_DB_MAX_POOL_SIZE: 5
    LOG_LEVEL_ROOT: DEBUG

    AZURE_STORAGE_DEFINITION_UPLOAD_ENABLED: false

    # enable whenever required and provide host url to match with corresponding data-store-api
    ELASTIC_SEARCH_ENABLED: true

    # TODO: remove TEMPORARY OVERRIDE to test ElasticSearch, reinstate: ELASTIC_SEARCH_HOST: ccd-data-store-api-pr-1260-es-master
    ELASTIC_SEARCH_HOST: ccd-data-store-api-pr-2129-es-master

    # TODO: remove TEMPORARY OVERRIDE to test ElasticSearch, reinstate: USER_PROFILE_HOST: http://ccd-user-profile-api-pr-399-java
    USER_PROFILE_HOST: http://ccd-user-profile-api-pr-501-java

    # ccd-test app-insights key - remove once testing is done
    APPINSIGHTS_INSTRUMENTATIONKEY: 2dcb834e-768e-4429-9050-ab15af959995

    TS_TRANSLATION_SERVICE_HOST:

  postgresql:
    enabled: true
