java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  memoryRequests: "1024Mi"
  devmemoryRequests: "1024Mi"
  devmemoryLimits: "2048Mi"
  keyVaults:
    ccd:
      secrets:
        - ccd-definition-s2s-secret
  environment:
    DEFINITION_STORE_DB_HOST: "{{ .Release.Name }}-postgresql"
    DEFINITION_STORE_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    DEFINITION_STORE_DB_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    DEFINITION_STORE_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    DEFINITION_STORE_DB_OPTIONS: ""
    DEFINITION_STORE_DB_MAX_POOL_SIZE: 5

    ENABLE_DB_MIGRATE: true
    ELASTIC_SEARCH_ENABLED: false
    AZURE_STORAGE_DEFINITION_UPLOAD_ENABLED: false

  postgresql:
    enabled: true
